<h1>Message</h1>

<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content  %>
</p>

<hr/>
<a href="/messages/authors/<%= @message.author%>">View other messages by the author</a>
<a href="/messages">Back to All Messages</a>

